.main {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: var(--bg-brown);
}

.main > div {
  display: flex;
  justify-content: space-between;
}

.main h1 {
  margin-bottom: 3.2rem;

  @media only screen and (max-width: 780px) {
    font-size: 3.2rem;
  }
}

.experiences {
  width: 87.2rem;
  @media only screen and (max-width: 780px) {
    width: 90%;
    max-width: 640px;
  }
}

.experience_title {
  margin-bottom: 1.6rem;
}

// responsiveness
