.main {
  display: flex;
  margin-top: 2.6rem;
  justify-content: space-between;
  margin-bottom: 6.4rem;
}

.image_container {
  width: 50rem;
  margin-right: 2rem;
}

.project_details {
  border-radius: 2.4rem;
}
